body{
  border:1px solid grey;
  margin: 0;
  margin-left:2px;
  margin-right: 2px;
}
.header-container{
  border:0;
  border-bottom: 2px solid #D4D8DD;
  font-size: 25px;
  font-weight: bolder;
  font-family: arial;
  height: 50px;
  margin-top:5px;
  position: relative;
}
.sms-name{
  bottom: 20px;
  font-weight: bold;
  height:28px;
  left: 30px;
  position: absolute;
  top: 10px;
}
.icon{
  height: 25px;
  padding-left: 2px;
  padding-right: 2px;
}
.x-pact-logo{
  position: absolute;
  right:30px;
  height: 28px;
  margin-top:10px;
}
.agreement{
  display: inline-block;
  font-size: 20px;
  margin-left:10px;
  width:50%;
}
.heading{
  text-decoration:underline;
  padding-left:10px;
}
.pact{
  float:right;
  padding-top:30px;
  padding-right: 30px;
  width: 500px;
  height: 300px;
}
.intro-container{
  border:2px solid grey;
  background-color:rgb(242,245,249);
  font-weight: bolder;
  height: 250px;
  margin:20px 30px 0 30px;
}
.Ts_video{
  background-color: rgb(242,245,249);
  border:1px solid black;
  float:right;
  width: 500px;
  height: 200px;
  margin-top:20px;
  margin-right: 10px;
}
.first_list{
  line-height: 35px;
}
.agreement-text{
  font-size:30px;
  font-weight: bolder;
  font-family: arial;
  margin-top:30px;
  margin-left:35px;
  margin-bottom: 10px;
}
.tablink{
  background-color: #b2b2b2;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 5px;
  font-size: 17px;
  width: 25%;
}
.tablink:hover{
  background-color: #add8e6;
}
.customers-tab{
  margin:10px 30px 0 30px;
}
.active-contracts{
  font-size: 25px;
  margin-top:10px;
  margin-bottom:5px;
  margin-left:20px;
}
.contract-heading{
  text-decoration:underline;
}
.second_list{
  display: inline-block;
  font-size:18px;
  line-height: 30px;
}
.contract-btn{
  border:2px solid black;
  background-color: white;
  border-radius: 5px;
  color:black;
  font-weight: bold;
  margin:5px;
  width:300px;
  height:30px;
  text-decoration: none;
}
.contract-btn:hover{
  color:red;
}
.portal-status,tr,td{
  border:1px solid green;
  padding:10px;
}
.footer{
  border: 1px solid grey;
  margin-top:20px;
  margin-left:2px;
  margin-bottom:10px;
  height: 200px;
}
.contact-details{
  margin-left:20px;
}
.footer-logo{
  display:inline-block;
  font-size:20px;
  margin-left:20px;
  margin-top:10px;
}
.company-name{
  margin-top:20px;
  margin-bottom:10px;
}
.address{
  margin-top:10px;
}
.copyright{
  margin-left:20px;
}
#main-customer-container{
  height: auto;
  position: relative;
}
.overview-list{
  display:inline-block;
}
.caselist-container{
  position:inherit;
  right:30px;
  top:65px;
}
.general-overview{
  font-size:20px;
  margin-top:10px;
  margin-bottom: 10px;
}
.tickets-registered{
  font-size: 20px;
  font-weight: bold;
}
.listlink{
  line-height: 30px;
}
#caselist-link{
  font-size:15px;
  font-weight:bold;
}
#customers-overview-list1{
  border:1px solid black;
  display:none;
  position: absolute;
  padding:10px;
  width:50%;
  right:100px;
  top:0;
}
#customers-overview-list2{
  border:1px solid black;
  display:none;
  position: absolute;
  padding:10px;
  width:50%;
  right:100px;
  top:0;
}
#customers-overview-list3{
  border:1px solid black;
  display:none;
  position: absolute;
  padding:10px;
  width:50%;
  right:100px;
  top:0;
}
#customers-overview-list4{
  border:1px solid black;
  display:none;
  position: absolute;
  padding:10px;
  width:50%;
  right:100px;
  top:0;
}
.activation{
  margin-top:10px;
  margin-bottom: 5px;
}
.Validity{
  color:green;
  font-size:15px;
  margin-left:50px;
}
